@import "../../mixins/main-mixins.scss";
.PostsPage {
  position: relative;
  height: 4000px;
  margin-top: 3rem;


  .posts-cols {
    // border: 1px black solid;
    // height: 370px;
    // border: 1px black solid;
    // padding: 0 10px;
    

  }

  .posts-left {
    // border: 1px black solid;
    // height: auto;
  }

  .posts-right {
    // background-color: yellow;

  }

  .posts-right {
    
  }

  .posts-center {

    @include media-breakpoint-up(md) {
      display: inline-block;
      height: 18rem;
    }

    @include media-breakpoint-up(lg) {
      display: block;
      height: auto;
    }
  }


}