.SignUpComponent {
  margin-top: 2rem;
  .signup-heading {
    // text-align: left;
    // margin-left: 3px;
  }

  .signup-form {
    // margin-top: 1.7rem;

    .signup-form-controls {
      margin-bottom: 0.8rem;
    }

    .signup-button {
      margin-top: 1.45rem;
    }
  }





};