@import "../../../mixins/component-mixins.scss";

.PostsLeftComponent {
  // height: 900px;

  .postsleft-tags {
    @include subcomponents;
    // height: 300px;
    h5 {
      color: black;
    }
  }

  .postsleft-top-posts {
    @include subcomponents;
    // color: black;
    .postsleft-posts {
      display: flex;
      align-items: flex-start;

      .postsleft-badges {
        position: relative;
        top: 3.2px;
        margin-right: 0.68rem;
        // width: 27px;
      }

    }
  }

};