@import "../../mixins/main-mixins.scss";

.HeaderComponent {
  height: 50px;
  padding: 0 5%;
  position: sticky;
  top: 0;
  background-color: white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.39);
  z-index: 1;
  display: flex;
  justify-content: space-between;

  .honey-icon {
    height: 34px;
  };

  .navbar-menu {
    height: 100%;
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 0;
    font-size: 1.12rem;

    .navbar-menu-links {
      height: 100%;
      align-items: center;
      display: flex;
      margin-left: 10px;
      cursor: pointer;

      li {
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 12px;
      }
    }

    .navbar-underline {
      border-bottom: 2px orange solid;
    }
  };

  #dropdown-basic-button {
    // @include media-breakpoint-up(md) {
      display: none;
    // }
  }

  @include media-breakpoint-down(sm) {
    .navbar-menu {
      .navbar-menu-links {
        display: none;
      }
      #dropdown-basic-button {
        display: block;
      }
    }
  }
}
