@import "../../../mixins/main-mixins.scss";

.LogInPage {
  text-align: center;
  margin-top: 4rem;

  .LogInForm {
    display: inline-block;
    width: 100%;
    max-width: 31rem;
    padding: 0 1rem;


    .form-sub {
      text-align: left;
      margin-left: 6px;
      color: red;
    }
  }
};