@import "../../../mixins/component-mixins.scss";

.HomeLeftComponent {
  height: 900px;

  .homeleft-tags {
    @include subcomponents;
    height: 300px;
    h5 {
      color: black;
    }
  }

  .homeleft-top-posts {
    @include subcomponents;
    color: black;
    .homeleft-posts {
      display: flex;
      align-items: flex-start;

      .homeleft-badges {
        position: relative;
        top: 3.2px;
        margin-right: 0.68rem;
        // width: 27px;
      }

    }
  }

};