@mixin subcomponents {
  background-color: white;
  border-radius: 4px;
  box-shadow: 1px 0px 3px 1px rgba(0, 0, 0, 0.246);
  padding: 1rem 1rem;
  margin-bottom: 2rem;
  color: rgba(0, 0, 0, 0.808);
  // width: 90%;
  // align-self: center;
}