@mixin subcomponents {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.253);
  padding: 1rem 1rem;
  margin-bottom: 2rem;
  color: rgba(0, 0, 0, 0.644);
  // width: 90%;
  // align-self: center;
}