@import "../../mixins/main-mixins.scss";
.HomePage {
  position: relative;
  background: orange;
  // width: 100%;
  height: 1000px;

  .homecols {
    border: 1px black solid;
    height: 200px;
  }

  .home-right {
    // @include media-breakpoint-down(xs) {
    //   display: none;
    // }
  }


}